/* EXTERNAL FONTS */
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Montserrat:wght@300&display=swap");
/* SASS Color Variables */
/*============
  NAVBAR STYLES 
==============*/
#navbar {
  position: fixed;
  width: 100%;
  height: 65px;
  z-index: 1;
  background-color: rgba(50, 0, 40, 0.967);
  font-size: 20px;
  font-weight: 1000;
  /*#container {
    display: table; 
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  #helper {
    display: table-cell;
    vertical-align: middle;
    position: absolute;
  }*/
  /* LIST ITEMS */
}
#navbar ul {
  padding-top: 5px;
  width: 100%;
}
#navbar ul > li {
  list-style-type: none;
  padding: 10px;
  /* LINK FORMATTING */
}
#navbar ul > li a {
  padding: 10px;
  text-decoration: none;
}
#navbar ul > li a:link, #navbar ul > li a:visited {
  color: #c800fa;
}
#navbar ul > li a:hover, #navbar ul > li a:active {
  color: #fac8fa;
  background-color: #640037;
  transition: color 0.3s ease-in, background-color 0.3s linear;
}

/*============
  GENERAL BODY STYLES 
==============*/
body {
  background-color: #5a0000;
  color: ghostwhite;
  font-family: Montserrat, sans-serif;
}

h2, h3, h4, h5 {
  padding: 10px 20px;
}

h1, h2 {
  text-align: center;
  padding-top: 90px;
}

p {
  padding: 5px 40px;
}

/*============
  WELCOME STYLES 
==============*/
#welcome-section {
  /* fill the screen */
  height: 100vh;
  width: 100%;
  background-color: rgba(100, 0, 100, 0.2);
  /* center text vertically in div */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#welcome-section h1 {
  line-height: 1.5em;
  text-align: center;
  padding-top: 120px;
}
#welcome-section p {
  padding: 10px 0px;
  margin-left: 420px;
}

#welcome-background-image {
  filter: blur(20px);
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
}

#my-name {
  font-family: "Grey Qo", cursive;
  font-size: 4em;
  line-height: 1.1em;
}

/*============
  PROJECTS STYLES 
==============*/
#projects h4 {
  text-indent: 2%;
  background-image: radial-gradient(circle, rebeccapurple, rgba(100, 50, 180, 0.5), rgba(40, 0, 50, 0.5));
  margin: 0px 10%;
  border-radius: 2px;
  box-shadow: 1px 1px 10px darkslateblue;
  padding: 10px 0px;
}

.projects-overflow {
  white-space: nowrap;
  position: relative;
  height: 540px;
  width: 90%;
  margin: 20px auto;
  padding: 50px;
  border: 4px rgba(100, 50, 180, 0.5) solid;
  border-radius: 3px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.projects-overflow .project-block {
  float: none;
  display: inline-block;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  padding: 30px 2px;
}

.project-block {
  height: 450px;
  width: 550px;
  background-color: rgba(40, 0, 50, 0.5);
  border: 3px solid rgba(100, 50, 180, 0.5);
  border-radius: 3px;
  margin: auto;
}
.project-block div {
  padding: 3px;
  text-align: center;
}

.project-image {
  height: 300px;
  width: 540px;
  margin: 3px;
  border: 2px solid rgba(100, 50, 180, 0.5);
  border-radius: 3px;
}

.project-title {
  font-size: 30px;
}

.project-github-link {
  font-size: 35px;
}

.project-tv-link {
  font-size: 30px;
}

#project-background-image {
  background-color: rgba(100, 0, 100, 0.2);
  filter: blur(20px);
  position: absolute;
  z-index: -1;
  height: 800px;
  width: 100%;
}

/*============
  EDUCATION STYLES 
==============*/
#education h4 {
  text-indent: 2%;
  background-image: radial-gradient(circle, rebeccapurple, #640037, rgba(50, 0, 40, 0.967));
  margin: 0px 10%;
  border-radius: 2px;
  box-shadow: 1px 1px 10px darkslateblue;
}
#education li {
  list-style-type: square;
}
#education p {
  padding: 10px 5px;
}

.education-entry {
  margin: 20px 15%;
}

.school-info {
  border: solid indigo;
  background-color: rgba(100, 50, 180, 0.5);
  letter-spacing: 1px;
  border-width: 0px 1px 1px 1px;
}

.degree {
  display: grid;
  grid-template-columns: 1fr 20px;
  align-items: center;
  border: 1px solid indigo;
  padding: 10px;
  background-color: rgba(50, 0, 40, 0.967);
  font-size: 20px;
}

#degree-to-translate {
  grid-template-columns: 5fr 1fr 20px;
}

.institution {
  color: lightsteelblue;
  font-style: italic;
}

.school {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.dates {
  justify-self: end;
}

.other-details {
  padding: 10px;
  display: none;
}

.div-expander {
  height: 45px;
  font-size: 30px;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  color: magenta;
  transform: rotate(0deg);
  transition: transform 0.3s, color 0.3s linear;
}

.div-expander:hover {
  color: #640037;
  transition: 0.3s linear;
}

.rotate-expander {
  transform: rotate(-45deg);
  transition: 0.3s;
}

.expand-all-btn {
  background: rgba(200, 50, 100, 0.1);
  width: 100px;
  color: #fac8fa;
  font-size: 15px;
  padding: 6px;
  margin-right: 10px;
  border: 1px solid indigo;
  transition: border 0.4s ease-in;
}

.expand-all-btn:hover {
  border: 1px magenta solid;
  transition: 0.4s ease-in;
}

#translate-course {
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  width: 70px;
  margin-right: 10px;
  cursor: pointer;
}

/*============
  ICON LINK STYLES 
==============*/
.project-link-icon {
  color: rgba(100, 100, 200, 0.7);
  transition: 0.3s linear;
}

.project-link-icon:hover {
  color: #503264;
  transition: 0.3s linear;
}

#translate-course, .education-links {
  color: magenta;
  transition: color 0.3s linear;
}

#translate-course:hover, .education-links:hover {
  color: purple;
  transition: color 0.3 linear;
}

/*============
  FOOTER STYLES 
==============*/
footer {
  height: 500px;
}
footer p {
  text-align: center;
}
footer hr {
  color: #fac8fa;
  border-top: 5px magenta solid;
  border-bottom: 5px indigo solid;
  filter: blur(2px);
}

#contact-links {
  font-size: 50px;
  text-align: center;
  padding: 40px 0px;
}
#contact-links a {
  padding: 0px 10px;
  color: #fac8fa;
}
#contact-links a:hover, #contact-links a:active {
  color: rgba(50, 0, 40, 0.967);
  transition: color 0.2s ease-in;
}

#phone-symbol {
  font-size: 35px;
  transform: translateY(-3px);
}

/*======================
  SVG LINK STYLES 
========================*/
#replit-logo {
  width: 60px;
  height: 60px;
  transform: translateY(-4px);
}
#replit-logo .cls-2, #replit-logo .cls-3 {
  fill: #fac8fa;
  transition: 0.3s;
}
#replit-logo:hover .cls-2, #replit-logo:hover .cls-3 {
  fill: rgba(50, 0, 40, 0.967);
  transition: 0.3s;
}

#codepen-logo {
  width: 53px;
  height: 53px;
  transform: translateY(-2px);
}
#codepen-logo .outer-ring, #codepen-logo .inner-box {
  fill: #fac8fa;
  transition: 0.3s;
}
#codepen-logo:hover .outer-ring, #codepen-logo:hover .inner-box {
  fill: rgba(50, 0, 40, 0.967);
  transition: 0.3s;
}

/*******************
  Old technique to create hover effect for CodePen.io and Replit svg files: using filters for replit and codepen svg files generated partially by using 
  Barret Sonntag's CSS filter generator found at 
  https://codepen.io/sosuke/pen/Pjoqqp

.codepen-link:link, .codepen-link:visited {
  filter: invert(85%) sepia(100%) saturate(3000%) hue-rotate(281deg) brightness(90%) contrast(96%);
}

.replit-link:link, .replit-link:visited {
  filter: invert(60%) sepia(100%) saturate(1500%) hue-rotate(281deg) brightness(200%) contrast(96%);
}

.codepen-link:hover, .codepen-link:active {
  filter: brightness(15%);
  transition : 1s;
}

.replit-link:hover, #replit-link:active {
  filter: brightness(5%);
  transition : 1s;
}

************/
/*============
  RESPONSIVE STYLES 
==============*/
@media (max-width: 890px) {
  .dates {
    justify-self: start;
  }
}

/*# sourceMappingURL=index.css.map */
