// COLOR VARIABLES
$ocean-blue: #285185;
$blue-green: #236477;
$lighter-green: #46af98;
$green: rgba(60, 128, 133, 0.967);
$light-blue-gray: #accefc;

body {
    background-color: $ocean-blue;
    color: white;
}

navbar {
    background-color: $green;

    a:link, a:visited {
        color: $light-blue-gray;
    }

    a:hover, a:active {
        color: white;
        background-color: $lighter-green;
    }
}

.workplace {
    display: grid;
    grid-template-columns: 1fr 0.5fr 20px;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    background-color: $green;
    border: 1px solid $green;
}

.more-info {
    background-color: $blue-green;
    border-color: $green;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
}

.grid-expander:hover {
    color: $ocean-blue;
    transition: 0.4s;
}

.shown-info {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    align-items: center;
}

.dates {
    justify-self: start;
}

.expand-all-experience {
    background-color: $blue-green;
    color: $light-blue-gray;
    border: 1px solid $green;
    border-radius: 3px;
    padding: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin: auto;
    transition: 0.3s linear; 
}

.expand-all-experience:hover {
    color: white; 
    background-color: $green;
    transition: 0.3s linear;
}

/*==========================
  FOOTER COLOR STYES
============================*/

footer {
    a {
        color: $light-blue-gray;
        
        &:hover, &:active {
            color: $green;
        }
    }
}

#replit-logo {
    .cls-2, .cls-3 {
      fill: $light-blue-gray;
      transition: color 0.4s ease-in;
    }
    
    &:hover {
      .cls-2, .cls-3 {
        fill: $green;
        transition: color 0.4s ease-in;
      }
    }
  }
  
#codepen-logo {
    .outer-ring, .inner-box {
        fill: $light-blue-gray;
        transition: color 0.4s ease-in;
    }

    &:hover {
        .outer-ring, .inner-box {
            fill: $green;
            transition: color 0.4s ease-in;
        }
    }
}