$purple-red-transparent: rgba(50, 0, 40, 0.967);
$super-light-pink: rgb(250, 200, 250);

footer {
    height: 500px;
    color: ghostwhite;
    
    p {
        text-align: center;
    }
    
    hr {
        color: $super-light-pink;
        border-top: 5px magenta solid;
        border-bottom: 5px indigo solid;
        filter: blur(2px);
    }
  }
  
#contact-links {
    font-size: 50px;
    text-align: center;
    padding: 40px 0px;

    a {
        padding: 0px 10px;
        transition: color 0.3s linear;
        
        &:hover, &:active {
            transition: color 0.3s linear;
        }
    }
} 
  
#phone-symbol {
    font-size: 35px;
    transform: translateY(-3px);
}

#replit-logo {
    width: 60px;
    height: 60px;
    transform: translateY(-4px);

    .cls-2, .cls-3 {
        transition: 0.3s linear;
      }
      
      &:hover {
        .cls-2, .cls-3 {
          transition: 0.3s linear;
        }
      }
}
  
#codepen-logo {
    width: 53px;
    height: 53px;
    transform: translateY(-2px);

    .outer-ring, .inner-box {
        transition: 0.3s linear;
    }
      
    &:hover {
        .outer-ring, .inner-box {
          transition: 0.3s linear;
        }
    }
}
  