// COLOR VARIABLES
$dark-maroon: hsl(330, 70%, 25%);
$pink-orange: hsl(350, 70%, 30%);
$dark-pink: hsl(320, 80%, 30%);
$dark-pink-transparent: hsla(310, 70%, 30%, 0.967);
$purple-pink: hsl(320, 50%, 40%);
$pink-sand: hsl(330, 70%, 80%);

body {
    background-color: $dark-maroon;
}

navbar {
    background-color: $dark-pink-transparent;

    a:link, a:visited {
        color: $pink-sand;
    }

    a:hover, a:active {
        color: white;
        background-color: $dark-pink;
    }
}

/*==========================
  FOOTER COLOR STYES
============================*/

footer {
    a {
        color: $pink-sand;
        
        &:hover, &:active {
            color: $purple-pink;
        }
    }
}

#replit-logo {
    .cls-2, .cls-3 {
      fill: $pink-sand;
    }
    
    &:hover {
      .cls-2, .cls-3 {
        fill: $purple-pink;
      }
    }
}
  
#codepen-logo {
    .outer-ring, .inner-box {
        fill: $pink-sand;
    }

    &:hover {
        .outer-ring, .inner-box {
            fill: $purple-pink;
        }
    }
}